<section style="background-color: #CDC4F9;">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-12">

        <div class="card" id="chat3" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <div class="p-3">

                  <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>

                  <div style="position: relative; height: 400px; overflow-y: scroll;">
                    <ul class="list-unstyled mb-0" >
                      {{#each user_and_message}}
                      <li data-id="{{this.user.id}}" class="p-2 border-bottom" onclick="loadConversation('{{this.user.id}}')">
                        <a href="#!" class="d-flex justify-content-between">
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="{{this.user.picture}}"
                                alt="avatar" class="d-flex align-self-center me-3" width="60">
                                {{#if (equalString this.user.online "Y")}}
                              <span class="badge bg-success badge-dot"></span>
                                {{else}}
                                <span class="badge bg-danger badge-dot"></span>
                                {{/if}}
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">{{this.user.name}}</p>
                              
                              <p class="small text-muted">{{this.message}}</p>
                            </div>
                          </div>
                          <div class="pt-1">
                            <p class="small text-muted mb-1">Just now</p>
                            <span class="badge bg-danger rounded-pill float-end">3</span>
                          </div>
                        </a>
                      </li>
                      {{/each}}
                    </ul>
                  </div>

                </div>

              </div>

              <div  class="col-md-6 col-lg-7 col-xl-8">
                <div id="conversation" class="pt-3 pe-3" style="position: relative; height: 400px; overflow-y: scroll;"></div>
                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                  <img src="{{currUser.picture}}"
                    alt="avatar 3" style="width: 40px; height: 100%;">
                  <input type="text" class="form-control form-control-lg" id="messageText"
                    placeholder="Type message">
                  <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                  <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                  <a class="ms-3" onclick="sendMessage()" href="#!"><i class="fas fa-paper-plane"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<script>
  const userID = {"id" : "{{currUser.id}}",
                  "name" : "{{currUser.name}}",
                  "picture": "{{currUser.picture}}",
              }
</script>
<script src="/js/services/services.js"></script>
<script>
  if (userID.id != "")
  {
    const webSocketConnection = connectToWebSocket(userID.id);
          if (webSocketConnection.webSocketConnection === null) {
            setInternalError(webSocketConnection.message);
          } else {
            listenToWebSocketEvents()
          }
  }
</script>